@font-face{
    font-family: RobotoReg;
    src: url(../font/RobotoReg.ttf);
}

@font-face{
    font-family: Pacifico;
    src: url(../font/Pacifico-Regular.ttf)
}


html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RobotoReg;
}
/* loader start */
/* #overlayer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #ffd700;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index:3;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes loader-inner {
    0% {
    height: 0%;
    }

    25% {
    height: 0%;
    }

    50% {
    height: 100%;
    }

    75% {
    height: 100%;
    }

    100% {
    height: 0%;
    }
} */

/* loader ends */

.nav{
    width: 100%;
    height: 70px;
    position: fixed;
    line-height: 70px;
    padding-top: 10px;
    /* padding-bottom: 15px; */
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav div.logo{
   width: auto;
   height: auto;
   float: left;
   margin-left: 20px;
}
.nav div.logo a{
    text-decoration: none;
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: #ea5455;
    font-family: Pacifico;
 }

.nav div.main_list {
    height: 70px;
    float: right;
    
}
.nav div.main_list ul{
    width: 100%;
    height: 70px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li{
    width: auto;
    height: 70px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #e5e5e5;
    line-height: 70px;
    font-size: 1.5rem;
}

.nav div.main_list ul li a:hover {
    color: #ea5455;
}

.navTrigger{
    display: none;
}

.navTrigger {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: auto;
    position: absolute;
    right: 30px;
    padding-top: 22px;
}

.navTrigger i {
    background-color:#e5e5e5;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix{
    padding: 0;
    background: #2d4059;
    z-index: 9999;
    box-shadow: 0 10px 20px rgba(25, 25, 25, 0.5);
    -webkit-box-shadow: 0 10px 20px rgba(25, 25, 25, 0.5);
}

/* content Design */
.content img{
    width: 100%;
    height: 100vh;
    background-position: center top;
    background-size: cover;
}

/* Design page start*/
.padding-style{
    padding-top: 150px;
    padding-bottom: 70px;
}

.items-design .single-items .items-img{
    padding-top: 100px;
    overflow: hidden;
    border-bottom: 3px solid #ea5455;
    margin-bottom: 15px;
    position: relative;
}

.items-design .single-items .items-img img{
    width: 100%;
}

.items-design .single-items .items-img .img-caption{
    position: absolute;
    bottom: -20%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;

}

.items-design .single-items .items-img .img-caption span{
    color: #121212;
    background: #ea5455;
    padding: 20px 0;
    display: block;
    cursor: pointer;

}


.design-title h2{
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

/* Desing page ends */

/* Responsive */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .container-fluid{
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 10px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: auto;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: #141414;
        background-position: center top;
    }
    .nav div.main_list ul li {
        padding: 0;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .nav div.main_list ul li a {
        width: 100%;
        font-size: 26px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .design-title h2{
        font-size: 37px;
    }
}

@media (max-width: 575px){
    .design-title h2{
        font-size: 33px;
    }
}

